* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  
}
.nav-footer {
  display: none;
}
.name-footer {
 float:left;
  padding-top: .5em;
  padding-left: .5em;
  
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  margin: 2em;
}
 p {
  line-height: 1.6em;
  padding-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
img {
  width: 90%;
}

.profile-image {
  width: 70%;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.header-wrapper {
  background-color: rgb(247, 244, 244);
  padding-top: 2em;
}


.name {
  margin-top: 0;
  margin-bottom: 1em;
}

ul {
  margin: .4em;
 
}

.nav-items{
  list-style-type: none;
  text-transform: uppercase;
  margin: 1em;

}
.nav-item{
  background-color: rgb(255, 255, 255);
  margin-bottom: .3em;
}
.nav-link{
  text-decoration: none;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;

  padding-left: 5em;
  padding-right: 5em;
  
}
.contact-info {
 
  background-color:  rgb(247, 244, 244);
  padding-top: 2em;
  padding-bottom: 5em;

}
span {
  font-weight: bolder;
  
}
li {
  padding: .5em;

}
.email {
  margin-bottom: 4em;
}

.back-to-top {
padding-top: .5em;
padding-right: .5em;
 float:right;
 text-transform: uppercase;
 text-decoration: none;
 color:black;
 


}
.name {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  
   
  }
@media (min-width: 768px) {
 
  .header-wrapper {
    padding-bottom: 25em;
  }


  .nav-items {
    display: flex;  
    justify-content: center;
  }

  .nav-item {
    background-color:rgb(247, 244, 244);
  }
 


  .profile-image {
    width: 50%;
    float: right;
    margin-right: .4em;
    
  }
  .introduction{
    float: left;
    width: 40%;
    text-align: left;
    padding-top:  4em;
  }



.flex-container {
  display: flex;
  flex-wrap: wrap;

}
.flex-item {
  width: 50%;

}

  li{
    list-style: none;
  }

.back-to-top {
    display:  none;
  }
  .nav-footer {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-right: 2em;
  }
  .nav-link{
    padding: 0;
    
  }
 .name {
 text-transform: uppercase;
 float: left;
 padding-top: .5em;
 padding-left: 3em;

  
 }

}


@media (min-width: 1024px) {

  

  .header-wrapper {
    padding-bottom: 25em;
  }

.nav-items{
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  padding-bottom: 3em;

}

  .nav-item {
    
    background-color:rgb(247, 244, 244);
  }
 


  .profile-image {
    width: 36%;
    float: right;
    margin-right: 4em;
    
  }
  .introduction{
    float: left;
    width: 40%;
    text-align: left;
    padding-top:  4em;
  }



.flex-container {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}
.flex-item {
  width: 33%;

}

  li{
    list-style: none;
  }
 
 
}
