* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  
}


h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin: 2em;
}
 p {
  line-height: 1.6em;
  padding-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
img {
  width: 90%;
}

.profile-image {
  width: 70%;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.header-wrapper {
  background-color: rgb(241, 241, 241);
  padding-top: 3em;
  
  

}


.name {
  margin-top: 0;
  margin-bottom: 1em;
}

ul {
  margin: .4em;
 
}

.list-item {
  list-style-type: none;
  text-transform: uppercase;
  background-color: white;
  padding: 1em;

}
.list-links {
  text-decoration: none;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
  padding-left: 5em;
  padding-right: 5em;
  

}
.contact-info {
  background-color:  rgb(241, 241, 241);
  padding-top: 2em;

}
span {
  font-weight: bolder;
  
}
li {
  padding: .5em;

}
.email {
  margin-bottom: 4em;
}
.footer-name {
  margin-top: 2.5em;
  margin-left: .8em;
  float: left;
  font-weight: bold;
}
.back-to-top {
 margin-top: 2.5em;
 margin-right: .8em;
 float:right;
 text-transform: uppercase;
 text-decoration: none;
 color:black;
 font-weight: bold;


}
@media (min-width: 768px) {
 
  .header-wrapper {
    padding-bottom: 25em;
  }

  ul {
   display: inline-block;
  }

  .list-item {
    background-color: rgb(241, 241, 241);    
   
  }

  .list-links {
   padding: 0;
   
  }
  .profile-image {
    width: 50%;
    
    float: right;
    padding: 1em;
    

  }
  .introduction{
    float: left;
    position: absolute;
    width: 40%;
    padding: 4.5em 1.5em 1em;
  }

  .portfolio-image{
    width: 50%;
    margin: 1em;
    padding: 1em;
  }
  .portfolio-image2 {
    width: 45%;
    padding: 1em;
    margin: 1em;
    float: right;
  }
  .main-info {

  }
}